@tailwind base;
@tailwind components;
@tailwind utilities;

.title-drag-zone {
  -webkit-app-region: drag;
  height: 22px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

ul[data-type="taskList"] {
  list-style: none !important;
  padding: 0;
}

ul[data-type="taskList"] li {
  display: flex;
  align-items: flex-start;
  list-style: none !important;
  padding-left: 0 !important;
}

ul[data-type="taskList"] li:before {
  display: none;
}

ul[data-type="taskList"] li  > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  margin-top: 0 !important;
}


ul[data-type="taskList"] li  > div {
  margin-bottom: 0 !important;
}

ul[data-type="taskList"] li  > div > p {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}